apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    isDefault: false

  - name: Alerts MySQL
    type: mysql
    access: proxy
    url: mysql:3306
    database: alertsdb
    user: root
    secureJsonData:
      password: password
    isDefault: false

